# BACKEND
NODE_ENV=local
PORT=8000

## MySQL Config
MYSQL_DB=example
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_USERNAME=root
MYSQL_PASSWORD=

JWT_ACCESS_TOKEN_SECRET=1234567890
JWT_REFRESH_TOKEN_SECRET=abcd1234
JWT_ACCESS_TOKEN_EXPIRES_IN_MINUTES=60  # 60 minutes
JWT_REFRESH_TOKEN_EXPIRES_IN_MINUTES=10080  # 10080 minutes (7 days)
